.internal-sidebar {
    background-color: var(--color-light-bg);
    height: 100%;
    padding: 1.5rem; /* 24px */
    overflow: auto;
}

.internal-sidebar__title {
    font-size: 1.375rem; /* 22px */
    font-weight: 700;
    margin-bottom: 1rem; /* 16px */
    color: var(--color-primary-text);
}

.internal-sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px */
    padding: 0;
    margin: 0;
}

.internal-sidebar__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.internal-sidebar__button {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 0.75rem 1rem; /* 12px 16px */
    padding-left: 16px;
    background: none;
    border: none;
    border-radius: 0.375rem; /* 6px */
    cursor: pointer;
    font-size: 0.9375rem; /* 15px */
    font-weight: 500;
    color: var(--color-secondary-text);
    transition: background-color 0.2s, color 0.2s;
}

.internal-sidebar__button:hover {
    background-color: var(--color-grey-100);
    color: var(--color-primary-text);
}

.internal-sidebar__button--active {
    background-color: var(--color-white);
    color: var(--color-primary-text);
    font-weight: bold;
}

.internal-sidebar__icon {
    margin-right: 0.5rem; /* 8px */
}

.internal-sidebar__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.internal-sidebar__submenu {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px */
    margin-top: 0.5rem; /* 8px */
}

.internal-sidebar__button--submenu {
    /* Styles for submenu buttons can be added here */
}

.internal-nav__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 64rem; /* 1024px */
    margin: 0 auto;
    padding: 0 1.5rem; /* 24px */
}

.internal-nav__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.internal-nav__menu-list {
    display: flex;
    align-items: center;
    gap: 1rem; /* 16px */
}

.internal-nav__item {
    list-style: none;
    white-space: nowrap;
}

.internal-nav__brand {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1rem;
    color: currentColor;
    border: none;
    background-color: transparent;
    text-decoration: none;
    text-align: left
}

.internal-nav__menu-link {
    padding: 0.75rem 0.625rem; /* 12px 10px */
    font-size: 0.9375rem; /* 15px */
    line-height: 1.25rem; /* 20px */
    color: currentColor;
    border-radius: 0.5rem; /* 8px */
    border: 0;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    text-align: left
}

.internal-nav__menu-link:hover {
    background-color: var(--color-grey-100);
}

.internal-nav__menu-link--active {
    color: var(--color-primary-text);
    font-weight: 700;
}

.internal-nav__menu-link p {
    margin: 0;
}
